---
import { type CollectionEntry, getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import Article from '@/components/Article.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

const pageTitle = `${post.data.title} | ${SITE_TITLE}`;
const pageDescription = post.data.description || SITE_DESCRIPTION;
---

<Layout title={pageTitle} description={pageDescription} isHome={false}>
  <main class="main">
    <Article {...post.data}>
      <Content />
    </Article>
  </main>
</Layout>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  :global(img) {
    display: block;
    max-width: 100%;
    height: auto;
  }
</style>
