---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import FormattedDate from '@/components/FormattedDate.astro';
import Layout from '@/layouts/Layout.astro';

const pageTitle = `ブログ記事一覧 | ${SITE_TITLE}`;

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title={pageTitle} description={SITE_DESCRIPTION} isHome={false}>
  <h1>ブログ記事一覧</h1>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <p class="title">{post.data.title}</p>
            <p class="date">
              <FormattedDate date={post.data.publishDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  ul li {
    margin-top: 2em;
  }

  ul li p {
    margin: 0;
    line-height: 1.5;
  }
</style>
