---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import Main from '@/components/Main.astro';
import Block from '@/components/Block.astro';
import Heading from '@/components/Heading.astro';
import PostList from '@/components/PostList.astro';

const pageTitle = `ブログ記事一覧 | ${SITE_TITLE}`;

const postList = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<Layout title={pageTitle} description={SITE_DESCRIPTION} isHome={false}>
  <Main>
    <Heading text="ブログ記事一覧" tag="h1" level={2} />
    <Block>
      <PostList postList={postList} />
    </Block>
  </Main>
</Layout>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;

  .main {
    // display: flex;
    flex-direction: column;

    // row-gap: var(--spacing-sm);
  }
</style>
