---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import Main from '@/components/Main.astro';
import Section from '@/components/Section.astro';
import Block from '@/components/Block.astro';
import Heading from '@/components/Heading.astro';
import PostList from '@/components/PostList.astro';

const allPosts = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const postsPerPage = 3;
const postList = allPosts.slice(0, postsPerPage);

const now = new Date();
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} isHome={true}>
  <p>
    現在<span class="text-gradient"
      >{`${now.getHours()}時${now.getMinutes()}分${now.getSeconds()}秒`}</span
    >です
  </p>

  <Main>
    <Section>
      <Heading text="このウェブサイトについて" tag="h2" level={2} />
      <Block>
        <p>主にウェブデザインや技術についてのブログサイトです。</p>
      </Block>
    </Section>
    <Section>
      <Heading text="最近のブログ記事" tag="h2" level={2} />
      <Block>
        <PostList postList={postList} />
      </Block>
    </Section>
  </Main>
</Layout>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;
</style>
