---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';

const allPosts = (await getCollection('blog')).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);

const postsPerPage = 3;
const posts = allPosts.slice(0, postsPerPage);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} isHome={true}>
  <section class="section">
    <h2>このWebサイトについて</h2>
    <p>主にWebデザインや技術についてのブログサイトです。</p>
  </section>
  <section class="section">
    <h2>最近のブログ記事</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <p class="title">{post.data.title}</p>
              <p class="date">
                <FormattedDate date={post.data.publishDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style lang="scss">
  @use '@/styles/variables' as var;
  @use '@/styles/extension' as *;
</style>
